# just so i dont keep making the same mistakes in committing
__pycache__/
*.py[cod]
*$py.class
*.pyo
.cache/


*.sqlite3
*.sqlite3-journal
db.sqlite3
db.sqlite3-journal


.env
.env.local
.env.*


venv/
env/
.venv/
.ENV/


local_settings.py
media/
staticfiles/


*.log
htmlcov/
.tox/
.coverage
.coverage.*
.pytest_cache/


.vscode/
.idea/
.DS_Store
Thumbs.db